.iris-verify-container {
  max-width: 400px;
  margin: 80px auto;
  background-color: #111;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

.iris-verify-container button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.iris-verify-container button:hover {
  background-color: #00796b;
}
